<%-include('userNavbar')%>
<body>
    <style>
        body {
            height: auto;
            font-family: "Nunito Sans", sans-serif;
            -webkit-font-smoothing: antialiased;
            margin: 0;
        }

        .box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            margin-bottom: 30px;
        }

        #userContainer {
            width: 90%;
            display: flex;
            border: 1px solid black;
            border-radius: 15px;
            height: auto;
        }

        .sidebar {
            background-color: #000;
            color: #fff;
            padding: 20px;
            min-width: 200px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            transition: 0.5s;
            margin-left: -15px;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
        }

        .profile-icon {
            width: 100px;
            height: 100px;
            border: 1px solid red;
            border-radius: 50%;
            margin-bottom: 20px;
        }

        .profile-icon img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        .sidebar-list {
            list-style-type: none;
            padding: 0;
            text-align: left;
        }

        .sidebar-list a {
            text-decoration: none;
            color: #fff;
            padding: 10px;
            display: block;
            transition: 0.3s;
        }

        .sidebar-list a:hover {
            background-color: #333;
        }

        .sidebar-list a.active {
            background-color: #e53637;
            color: #fff;
        }

        .hamburger-menu {
            display: none;
            cursor: pointer;
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 999;
            transition: 0.5s;
        }

        .hamburger-menu div {
            width: 30px;
            height: 3px;
            background-color: #1e1d1d;
            margin: 4px 2px;
            transition: 0.4s;
        }

        .profile-welcome {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .content {
            text-align: center;
            padding: 20px;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            position: relative;
        }

        .content p {
            margin-bottom: 15px;
        }

        .add-address-form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .add-address-form label {
            margin-bottom: 10px;
            font-weight: bold;
        }

        .add-address-form input {
            padding: 8px;
            margin-bottom: 20px;
            width: 60%;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .add-address-button {
            background-color: #e53637;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .add-address-button:hover {
            background-color: #c32434;
        }

        .box-buttons {
            width: 50%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @media only screen and (max-width: 768px) {
            .sidebar {
                display: none;
            }

            .hamburger-menu {
                display: block;
            }

            .content {
                padding: 10px;
            }

            .box {
                height: auto;
                margin-bottom: 20px;
            }

            #userContainer {
                flex-direction: column;
                height: auto;
                width: 96%;
            }

            .hamburger-menu.active div:nth-child(1) {
                transform: rotate(-45deg) translate(-5px, 6px);
                background-color: #e53637;
            }

            .hamburger-menu.active div:nth-child(2) {
                opacity: 0;
            }

            .hamburger-menu.active div:nth-child(3) {
                transform: rotate(45deg) translate(-5px, -6px);
                background-color: #e53637;
            }

            .sidebar.active {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000;
                z-index: 998;
            }
        }
    </style>



    <div class="box">
        <div class="hamburger-menu" onclick="toggleSidebar()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <% if(user) { %>
        <div class="container" id="userContainer">

            <%- include('profile-sidebar') %>

            <div class="content">
                <h1 id="pageTitle">Welcome to the Addresses Page</h1>
                <p class="profile-welcome">Hello, <%= user.username %>!</p>
                <form action="/add-new-address/<%=user._id%>" method="post">
                    <div class="add-address-form">
                        <label for="houseNo">House No or Name:</label>
                        <input type="text" id="houseNo" name="name" placeholder="Enter house no or name">
    
                        <label for="state">State:</label>
                        <input type="text" id="state" name="state" placeholder="Enter state">
    
                        <label for="country">Country:</label>
                        <input type="text" id="country" name="country" placeholder="Enter country">
    
                        <label for="pincode">Pincode:</label>
                        <input type="text" id="pincode" name="pincode" placeholder="Enter pincode">
    
                        <label for="landmark">Landmark:</label>
                        <input type="text" id="landmark" name="landmark" placeholder="Enter landmark">
    
                        <label for="saveas">Save as:</label>
                        <input type="text" id="saveus" name="title" placeholder="Save as">
    
                    </div>
                    <div class="err_msg my-3">
                        <% if(flash.errMissingDetails) { %>
                            <h6 style="color: #e74c3c;"><%=flash.errMissingDetails%></h6>
                        <% } else if(flash.errCreatingAddress) { %>
                            <h6 style="color: #e74c3c;"><%=flash.errCreatingAddress%></h6>
                        <% } %>

                    </div>
                    <div class="box-buttons">
                        <button class="add-address-button" type="submit">Add Address</button>
                        <a href="/" class="btn btn-danger">Go back</a>
                    </div>
                </form>
            </div>
        </div>

            <% } else { %>
                <h2>user not found</h2>
            <% } %>
            </div>
        </div>
    </div>




    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
            const hamburgerMenu = document.querySelector('.hamburger-menu');
            hamburgerMenu.classList.toggle('active');
        }

        const links = document.querySelectorAll('.sidebar-list a');
        links.forEach(link => link.classList.remove('active'));
        event.target.classList.add('active');

    </script>

    <%-include('userFooter')%>
</body>
</html>
