<%-include('userNavbar')%>
    <style>
        .checkout__address-options {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

        .checkout__address-option {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
        }

        .checkout__address-option:hover {
            background-color: #f5f5f5;
        }

        .checkout__address-option.selected {
            border-color: #333;
            background-color: #f5f5f5;
        }

        .checkout__address-details {
            margin-bottom: 5px;
        }

        .checkout__address-details p {
            font-size: 16px;
            margin-bottom: 3px;
        }

        .site-btn {
            display: block;
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }


        @media only screen and (max-width: 768px) {
            .checkout__address-options {
                flex-direction: column;
            }
        }
    </style>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shop-products">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form action="/checkout" method="post" id="checkout-form">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="/coupon/<%=cart.user_id%>">Click
                            here</a> to enter your code</h6>
                            <h6 class="checkout__title">Choose your delivery address</h6>

                            <div class="checkout__address-options">
                            <%if(addresses && addresses.length > 0) {%>
                                <% addresses.forEach(address => { %>
                                <div class="checkout__address-option">
                                    <input type="radio" name="address" value="<%=address._id%>">
                                    <label>
                                        <div class="checkout__address-details">
                                            <p><%=address.name%></p>
                                            <p><%=address.house_name%></p>
                                            <p><%=address.state%></p>
                                            <p><%=address.country%></p>
                                            <p>pincode : <%=address.pincode%></p>
                                            <p>landmark : <%=address.landmark%></p>
                                        </div>
                                    </label>
                                    
                                </div>
                                <% }) %>
                                <button type="button" onclick="newAddress('/add-address/<%=cart.user_id%>')" class="site-btn">Add address</button>
                            <% } else { %>
                                <p>no addresses found.</p>
                                <button type="button" onclick="newAddress('/add-address/<%=cart.user_id%>')" class="site-btn">Add address</button>
                            <% } %>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Q. Product <span>Total</span></div>
                            <% cartItems.forEach(item => { %>
                                <ul class="checkout__total__products">
                                    <li><%=item._doc.quantity%>. <%=item.name%> (<%=item._doc.size%>) <span>$ <%=item._doc.product_total%></span></li>
                                </ul>
                            <% }) %>
                                <ul class="checkout__total__all">
                                    <li>Subtotal <span>$<%=cart.cart_total%></span></li>
                                    <li>Total <span>$<%=cart.cart_total%></span></li>
                                </ul>

                                <input type="Number" id="cart-total" value="<%=cart.cart_total%>" hidden>
    
                                <div class="checkout__input__checkbox">
                                    <label for="cod">
                                        Cash on delivery
                                        <input type="checkbox" onclick="checkValue('cod')" id="cod" name="payment_method" value="cod">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="wallet">
                                        Wallet
                                        <input type="checkbox" onclick="checkValue('wallet')" id="wallet" name="payment_method" value="wallet">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="razorpay">
                                        UPI / Netbanking
                                        <input type="checkbox" onclick="checkValue('razorpay')" id="razorpay" name="payment_method" value="razorpay">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <input type="hidden" id="payment_method" value="">
                                
                                <button id="proceed-btn" onclick="proceedOrder(event)" class="site-btn">PLACE ORDER</button>

                                <div class="mt-2">
                                    <% if(flash.walletError) { %>
                                        <p style="color:#e53637">*<%=flash.walletError%></p>
                                    <% }else if(flash.addressError) { %>
                                        <p style="color:#e53637">*<%=flash.addressError%></p>
                                    <% }else if(flash.paymentMethodError) { %>
                                        <p style="color:#e53637">*<%=flash.paymentMethodError%></p>
                                    <% } %>    
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <%-include('userFooter')%>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        function checkValue(method){
            console.log("inside chekcout");
            if(document.getElementById(method).checked){
                console.log("inside cheker");
                document.getElementById('payment_method').value = method;
                console.log(document.getElementById('payment_method').value);
            }else{
                console.log("else checker")
                document.getElementById('payment_method').value = "";
                console.log(document.getElementById('payment_method').value);
            }
        }

        function newAddress(route){
            window.location.href = route;
        }
        
        function proceedOrder(e) {
            console.log("inside proceedOrder");

            if (document.getElementById("payment_method").value === "razorpay") {
                // razorpay //
                console.log("inside if order");
                const amount = document.getElementById('cart-total').value;
                console.log("amount: " + amount);
                var orderId;

                // Ajax request to create a new orderId
                $.ajax({
                "url": "/create/orderId",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify({
                    "amount": parseInt(amount) * 100
                }),
                "success": function (response) {
                    orderId = response.orderId;
                    console.log(orderId);

                    var options = {
                    // Your Razorpay options
                        "key": "rzp_test_AGAl3sXv1UmAjD", // Enter the Key ID generated from the Dashboard
                        "amount": parseInt(amount)*100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                        "currency": "INR",
                        "name": "Mens Fashion",
                        "description": "Test Transaction",
                        "image": "public/userAssets/img/logo.png",
                        "order_id": orderId, // Use the orderId obtained from the server response
                        "handler": function (response) {
                            alert(response.razorpay_payment_id);
                            document.getElementById('checkout-form').submit();             
                        },
                        "theme": {
                            "color": "white"
                        }
                    };

                    var rzp1 = new Razorpay(options);
                    console.log("after rzp obj");
                    rzp1.on('payment.failed', function (response) {
                    // Handle failed payment
                        alert(response.error.code);
                        alert(response.error.description);
                        alert(response.error.source);
                        alert(response.error.step);
                        alert(response.error.reason);
                        alert(response.error.metadata.order_id);
                        alert(response.error.metadata.payment_id);
                    });
                    console.log("before open");
                    rzp1.open();
                    console.log("after open");
                },
                "error": function (error) {
                    console.error("Error creating orderId:", error);
                }
                });

                e.preventDefault(); // Prevent the default form submission

                // razorpay ends //
            } else {
                document.getElementById('checkout-form').submit();
            }
        }

    </script>

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>