<%-include('userNavbar')%>
<!-- Header Section End -->
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            height: auto;
            font-family: "Nunito Sans", sans-serif;
            -webkit-font-smoothing: antialiased;
            margin: 0;
        }

        .box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            margin-bottom: 30px;
        }

        #userContainer {
            width: 90%;
            display: flex;
            border: 1px solid black;
            border-radius: 15px;
            height: auto;
        }

        .sidebar {
            background-color: #000;
            color: #fff;
            padding: 20px;
            min-width: 200px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            transition: 0.5s;
            margin-left: -15px;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
        }

        .profile-icon {
            width: 100px;
            height: 100px;
            border: 1px solid red;
            border-radius: 50%;
            margin-bottom: 20px;
        }

        .profile-icon img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        .sidebar-list {
            list-style-type: none;
            padding: 0;
            text-align: left;
        }

        .sidebar-list a {
            text-decoration: none;
            color: #fff;
            padding: 10px;
            display: block;
            transition: 0.3s;
        }

        .sidebar-list a:hover {
            background-color: #333;
        }

        .sidebar-list a.active {
            background-color: #e53637;
            color: #fff;
        }

        .hamburger-menu {
            display: none;
            cursor: pointer;
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 999;
            transition: 0.5s;
        }

        .hamburger-menu div {
            width: 30px;
            height: 3px;
            background-color: #1e1d1d;
            margin: 4px 2px;
            transition: 0.4s;
        }

        .content {
            width: 90%;
            text-align: center;
            padding: 20px;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            position: relative;
        }

        .content p {
            margin-bottom: 15px;
        }

        h1#pageTitle {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
        }

        .order-card {
            width: 99%;
            border: 1px solid lightgrey;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 5px;
        }

        .order-status {
            font-weight: bold;
            margin-bottom: 5px;
            text-transform: uppercase;
        }

        .pending {
            color: orange;
        }

        .shipped {
            color: blue;
        }

        .delivered {
            color: green;
        }

        .cancelled {
            color: red;
        }

        .returned {
            color: lightgrey;
        }

        .order-details {
            margin-bottom: 15px;
        }

        .order-address {
            font-weight: bold;
            color: #333; /* Adjust for desired highlighting */
        }

        .products-container {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

        .product-card {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            border-radius: 5px;
            background-color: #f5f5f5;
        }

        .product-card img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            margin-bottom: 10px;
        }

        .product-card h3 {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .cancel-order-button {
            background-color: red;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .cancel-order-button:hover {
            background-color: darkred;
        }

        @media only screen and (max-width: 768px) {
            .products-container {
                flex-direction: column;
            }

            .order-card {
                margin-bottom: 10px;
            }
            .sidebar {
                display: none;
            }

            .hamburger-menu {
                display: block;
            }

            .content {
                padding: 10px;
            }

            .box {
                height: auto;
                margin-bottom: 20px;
            }

            #userContainer {
                flex-direction: column;
                height: auto;
                width: 96%;
            }

            .hamburger-menu.active div:nth-child(1) {
                transform: rotate(-45deg) translate(-5px, 6px);
                background-color: #e53637;
            }

            .hamburger-menu.active div:nth-child(2) {
                opacity: 0;
            }

            .hamburger-menu.active div:nth-child(3) {
                transform: rotate(45deg) translate(-5px, -6px);
                background-color: #e53637;
            }

            .sidebar.active {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000;
                z-index: 998;
            }
        }
    </style>
    <div class="box">
        <div class="hamburger-menu" onclick="toggleSidebar()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <% if (user) { %>
        <div class="container" id="userContainer">
            <%- include('profile-sidebar') %>
            <div class="content">
                <h1 id="pageTitle">My Orders</h1>
            <% if( orders && orders.length > 0 ) { %>
                <% orders.forEach(order => { %>    
                <div class="order-card">
                    <h2>Order ID: #<%=order._id%></h2>
                    <p class="order-status <%=order.status%>"><%=order.status%></p>

                    <div class="order-details">
                        <p><strong>Ordered to:</strong> <span class="order-address"><%=order.address_id.name%></span></p>
                    </div>
        
                    <div class="products-container">
                        <% order.products.forEach(product => { %> 
                        <div class="product-card">
                            <img src="<%=product.product_id.image[0]%>" alt="Product 1">
                            <h3><%=product.product_id.name%></h3>
                            <p>Size: <%=product.size%></p>
                            <p>Quantity: <%=product.quantity%></p>
                            <p>Total: $ <%=product.product_total%></p>
                        </div>
                        <% }) %>
                        
                    </div>
                    <p><strong>Total amount: $<%=order.total_amount%></strong></p>
                    <p><strong>payment method: <%=order.payment%></strong></p>
                    <% if( order.status !== "cancelled" && order.status !== "returned" && order.status !== "delivered") { %>
                        <button onclick="cancel('<%=order._id%>')" class="cancel-order-button mt-2">Cancel Order</button>
                    <% }else if(order.status === "delivered"){ %>
                        <button onclick="returnOrder('<%=order._id%>')" class="cancel-order-button mt-2">Return Order</button>
                    <% } %>  
                </div>
                <% }) %>
            <% }else{ %>
                <h4>no orders yet.</h4>
            <% } %>
            </div>
        </div>
        <% } else { %>
            <h2>User not found</h2>
        <% } %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        function cancel(id){
            Swal.fire({
               title: "Are you sure?",
               text: "Are you sure you want to cancel the order?",
               icon: "warning",
               showCancelButton: true,  
               confirmButtonColor: "#3085d6",
               cancelButtonColor: "#d33",
               confirmButtonText: "Confirm",
               cancelButtonText: "Cancel",  
               dangerMode: true,
           })
           .then((result) => {
               if (result.isConfirmed) {
                   window.location.href = `/cancel-order/${id}`;
               } else {
                   console.log("User canceled");
               }
           });
        }

        function returnOrder(id){
            Swal.fire({
               title: "Are you sure?",
               text: "Are you sure you want to return the order?",
               icon: "warning",
               showCancelButton: true,  
               confirmButtonColor: "#3085d6",
               cancelButtonColor: "#d33",
               confirmButtonText: "Confirm",
               cancelButtonText: "Cancel",  
               dangerMode: true,
           })
           .then((result) => {
               if (result.isConfirmed) {
                   window.location.href = `/return-order/${id}`;
               } else {
                   console.log("User canceled");
               }
           });
        }

        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
            const hamburgerMenu = document.querySelector('.hamburger-menu');
            hamburgerMenu.classList.toggle('active');
        }
    </script>

    <%-include('userFooter')%>
</body>
</html>