<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
            background-color: #f2f2f2;
            color: #333;
            margin: 0;
            font-family: 'Nunito Sans', sans-serif;
        }
    
        .full-height {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .otp-container {
            max-width: 500px;
            padding: 30px;
            text-align: center;
            border: 2px solid #333;
            border-radius: 15px;
            background-color: #fff;
            transition: box-shadow 0.3s;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        .otp-container:hover {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
    
        .otp-input-group {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .otp-input {
            width: 200px;
            height: 40px;
            margin: 10px;
            font-size: 20px;
            text-align: center;
            border: 2px solid #333;
            border-radius: 10px;
            transition: border-color 0.3s, transform 0.3s;
            transition-timing-function: ease-out;
        }
    
        .otp-input:hover,
        .otp-input:focus {
            border-color: #e74c3c;
            transform: scale(1.05);
        }
    
        .submit-btn {
            background-color: #333;
            color: #fff;
            border: none;
            padding: 15px 30px;
            cursor: pointer;
            border-radius: 10px;
            transition: background-color 0.3s, transform 0.3s;
        }
    
        .submit-btn:hover {
            background-color: #555;
            transform: scale(1.05);
        }
    
        .resend-link {
            color: #e74c3c;
            text-decoration: none;
            margin-top: 20px;
            display: block;
        }
    
        .resend-link:hover {
            color: #333;
        }
    
        /* Responsive styles */
    
        @media only screen and (max-width: 768px) {
            .otp-container {
                max-width: 90%;
            }
    
            .otp-input {
                width: 100%;
            }
    
            .submit-btn {
                width: 100%;
            }
        }
    
        @media only screen and (min-width: 769px) and (max-width: 1024px) {
            .otp-container {
                max-width: 70%;
            }
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <%-include('userNavbar')%>

    <!-- OTP Section Begin -->
    <div class="full-height">
        <div class="otp-container">
            <h2>Enter Your Four-Digit OTP</h2>
            <form action="/otp_verification" method="post">
                <div class="otp-input-group">
                    <input type="text" class="otp-input" maxlength="4" id="otp" name="otp"/>
                </div>
                <div class="err_msg my-3">
                    <% if(flash.invalidOtp){ %>
                    <h6 style="color: #e74c3c;"><%=flash.invalidCreds%></h6>
                    <% }else if(flash.validationError){ %>
                    <h6 style="color: #e74c3c;"><%=flash.invalidCreds%></h6>
                    <% }else if(flash.expiredOtp){ %>
                    <h6 style="color: #e74c3c;"><%=flash.expiredOtp%></h6>
                    <% }else if(flash.otpInfo){ %>
                    <h6 style="color: rgb(80, 233, 126);"><%=flash.otpInfo%></h6>
                    <% }else if(flash.resendOtp){ %>
                    <h6 style="color: rgb(80, 233, 126);"><%=flash.resendOtp%></h6>
                    <% } %>
                </div>
                <br>
                <button type="submit" class="submit-btn">Submit</button>
            </form>
            <form action="/otp_resent" id="resend-form" method="post">
                <a style="cursor: pointer;" onclick="document.getElementById('resend-form').submit()" class="resend-link">Resend OTP</a>
            </form>
        </div>
    </div>
    <!-- OTP Section End -->

    <%-include('userFooter')%>

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        function moveToNext(currentInput, nextInputId) {
            if (event.keyCode === 8 && currentInput.value.length === 0) {
                // Backspace key pressed and current input is empty
                if (nextInputId) {
                    document.getElementById(nextInputId).focus();
                }
            } else if (currentInput.value.length === currentInput.maxLength) {
                // Input is filled, move to the next input
                if (nextInputId) {
                    document.getElementById(nextInputId).focus();
                } else {
                    currentInput.blur(); // Remove focus after the last input
                }
            }
        }
    </script>
</body>

</html>