<div class="sidebar" id="sidebar">
    <div class="profile-icon">
        <img src="<%=user.userProfile%>" alt="profile img">
    </div>
    <ul class="sidebar-list">
        <li><a href="/user-profile/<%=user._id%>"><i class="fa-regular fa-address-card" style="color: #f7f9fc;margin-right: 6px;"></i> Profile</a></li>
        <li><a href="/wallet/<%=user._id%>"><i class="fa-regular fa-credit-card" style="color: #ffffff; margin-right: 6px;"></i> Wallet</a></li>
        <li><a href="/coupon/<%=user._id%>"><i class="fa-solid fa-ticket" style="color: #ffffff;margin-right: 6px;"></i> Coupon</a></li>
        <li><a href="/address/<%=user._id%>"><i class="fa-solid fa-map-location-dot" style="color: #ffffff;margin-right: 6px;"></i> Addresses</a></li>
        <li><a href="/orders/<%=user._id%>"><i class="fa-solid fa-truck-fast" style="color: #ffffff;margin-right: 6px;"></i> Orders</a></li>
        <li><a href="/security/<%=user._id%>"><i class="fa-solid fa-key" style="color: #ffffff;margin-right: 6px;"></i> Security</a></li>
        <form action="/user_logout" id="logout-form" method="post">
            <li>
                <a style="cursor: pointer;" onclick="document.getElementById('logout-form').submit()" >
                <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ffffff;margin-right: 6px;"></i> Logout
                </a>
            </li>
        </form>
    </ul>
</div>