<%-include('userNavbar')%>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shop-products">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <% if(cart && cart.products.length > 0) { %>
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="cart-container">
                                <% for (const item of cartItems) {%>
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="<%=item.image%>" width="150px" height="150px" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6><%=item.name%></h6>
                                            <h5>$ <%=item.price%></h5>
                                            <h4>size: <%=item._doc.size%></h4>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="d-flex flex-row">
                                                <% if(item._doc.quantity > 1) { %>
                                                <a href="/dec-qty/<%=item._doc._id%>/<%=item.price%>" class="mx-2 my-1"><i class="fa-solid fa-angle-left" style="color: #000000;"></i></a>
                                                <% } %>
                                                <!-- <input type="text" value="<%=item._doc.quantity%>"> -->
                                                <h5 class="my-1"><%=item._doc.quantity%></h5>
                                                <a href="/inc-qty/<%=item._doc._id%>/<%=item.price%>" class="mx-2 my-1"><i class="fa-solid fa-angle-right" style="color: #000000;"></i></a>
                                                
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ <%=item._doc.product_total%></td>
                                    <td class="cart__close"><a onclick="confirmRemoval('/remove-from-cart/<%=item._doc._id%>/<%=item._doc.product_total%>')"><i class="fa fa-close"></i></a></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/shop-products">Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <button type="submit">Apply</button>
                        </form>
                    </div>
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>$ <%=cart.cart_total%></span></li>
                            <li>Total <span>$ <%=cart.cart_total%></span></li>
                        </ul>
                        <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
                <% } else { %>
                    <h2>your cart is empty</h2>
                <% } %>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

    <!-- Footer Section Begin -->
    <%-include('userFooter')%>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- fetch functions starts -->
    <script>
        function confirmRemoval(itemId){
           Swal.fire({
               title: "Are you sure?",
               text: "Are you sure you want to proceed?",
               icon: "warning",
               showCancelButton: true,  
               confirmButtonColor: "#3085d6",
               cancelButtonColor: "#d33",
               confirmButtonText: "Confirm",
               cancelButtonText: "Cancel",  
               dangerMode: true,
           })
           .then((result) => {
               if (result.isConfirmed) {
                //    removeFromCart(itemId);
                window.location.href = itemId;
               } else {
                   console.log("User canceled");
               }
           });
        }

        // async function incQty(itemId){
        //     try {
        //         const response = await fetch('/inc-qty',{
        //             method:'POST',
        //             headers: {
        //                 'Content-Type': 'application/json'
        //             },
        //             body: JSON.stringify({
        //                 itemId
        //             })
        //         })

        //         const data = response.json();

        //     } catch (error) {
        //         console.log("error while quantity increment",error);
        //     }
        // }
    </script>
    <!-- fetch functions starts for cart removal -->
        <!-- //     async function removeFromCart(itemId){
        //     console.log("inside removeFromCart",itemId);
        //     try {
        //       const response = await fetch('/get-cart',{
        //         method:'POST',
        //         headers:{
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify({
        //             itemId
        //         })
        //       })
              
        //       const data = await response.json();
        //       console.log("data al;kdhrflkweh",data);

        //       if(data && data.success){
        //         updateCartContainer(data.enrichedCartData);
        //       }else{
        //         console.log("error while fetching updated cart items");
        //       }

        //     } catch (error) {
        //        console.log("error removing item",error) 
        //     }
        // }

        // function updateCartContainer(cartItems){
        //     console.log("updating");
        //     const cartContainer = document.getElementById('cart-container');
        //     cartContainer.innerHTML = '';
        //     cartItems.forEach(item => {
        //         const tableRow = document.createElement('tr');

        //         // Product cell
        //         const productCell = document.createElement('td');
        //         const productImage = document.createElement('img');
        //         productImage.src = item.image;
        //         productImage.width = '150px';
        //         productImage.height = '150px';
        //         productImage.alt = item.name;
        //         productCell.appendChild(productImage);
        //         const productDetails = document.createElement('div');
        //         productDetails.textContent = `${item.name}<br>size: ${item._doc.size}`;
        //         productCell.appendChild(productDetails);
        //         tableRow.appendChild(productCell);

        //         // Quantity cell
        //         const quantityCell = document.createElement('td');
        //         const quantityButtonsDiv = document.createElement('div');
        //         const decreaseButton = document.createElement('button');
        //         decreaseButton.textContent = '-';
        //         decreaseButton.addEventListener('click', () => {
        //             // Implement logic to decrease quantity and update the table
        //         });
        //         quantityButtonsDiv.appendChild(decreaseButton);
        //         const quantityDisplay = document.createElement('span');
        //         quantityDisplay.textContent = item._doc.quantity;
        //         quantityButtonsDiv.appendChild(quantityDisplay);
        //         const increaseButton = document.createElement('button');
        //         increaseButton.textContent = '+';
        //         increaseButton.addEventListener('click', () => {
        //             // Implement logic to increase quantity and update the table
        //         });
        //         quantityButtonsDiv.appendChild(increaseButton);
        //         quantityCell.appendChild(quantityButtonsDiv);
        //         tableRow.appendChild(quantityCell);

        //         // Price and total cells
        //         const priceCell = document.createElement('td');
        //         priceCell.textContent = `$${item.price}`;
        //         tableRow.appendChild(priceCell);
        //         const totalCell = document.createElement('td');
        //         totalCell.textContent = `$${item._doc.product_total}`;
        //         tableRow.appendChild(totalCell);

        //         // Close button cell
        //         const closeButtonCell = document.createElement('td');
        //         const closeButton = document.createElement('a');
        //         closeButton.textContent = '×';
        //         closeButton.addEventListener('click', () => {
        //             confirmRemoval(item._doc._id);
        //         });
        //         closeButtonCell.appendChild(closeButton);
        //         tableRow.appendChild(closeButtonCell);

        //         cartContainer.appendChild(tableRow);
        //     });
        // } -->
    <!-- fetch functions ends for cart removal -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>